.parentDetailsDiv{
    width: 75%;
    margin: 50px 5px 20px;
    padding: 25px 5px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
    
}
.itemDetail{
    padding: 5px 10px;
    margin: 0px 10px ;
    line-height: 15px
}
.TitleItemDetail{
    color: gray;
}
.ResultItemDetail, .ResultItemDetailCancel, .ResultItemDetailSuccess, .ResultItemDetailWarning{
    font-weight: bold;
    font-size: 15px
}
.ResultItemDetail{
  color: black;
}
.ResultItemDetailCancel{
    color: red; 
}
.ResultItemDetailSuccess{
  color: rgb(7, 161, 7); 
}
.ResultItemDetailWarning{
  color: rgb(251, 143, 11)
}
.progressBar {
  position: relative;
  height: 5px;
  background-color:rgb(210, 208, 208);
}
.progressLine{
  height: 100%;
  position: absolute;
  width: 0%;
}
.steps{
  display: flex;
  justify-content: space-between;
}
.step{
  width:25px ;
  height: 25px;
  background-color: rgb(210, 208, 208);
  border-radius: 50%;
  transform: translateY(calc(-50% + 2.5px));
}
.progressBarContent{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0;
    
  }
  .parentSectionProgressBar{
    position: relative;
    padding-top: 20px;
  }
 .iconsStyle{
  color: rgb(255, 255, 255);
  font-size: 14px;
 }